<h1>Hello <%=@user.username%></h1>
<%= link_to "Register a card", new_card_path %>
<% @user.cards.each do |card| %>
	<%= render :partial=>"card", :locals=>{:card => card} %>
<% end %>
<%= link_to "Map", root_path %>
<br>
<%= link_to "Logout", log_out_path %>